# QUESTION 1

In [19]:
a = 0
def b():
     global a
     a = c(a)
def c(a):
     return a + 2
    
    
b()
b()
b()
a

6

As we have defined 'a' as a global variable. all the changes in the function would also change 
its value outside the function. a starts with value 0 then whewe run b() for the first time we get 
a=2 then again we run we get a=4 and then the final time we get a=6. This value of a has changed
globally and not just in the function which is why when we call a we get a=6

# QUESTION 2

In [34]:
def fileLength(fileName):
    try:
        infile=open(fileName)
        length=len(infile.readlines())
        print(length)
    except FileNotFoundError:
        print("File {} not found".format(fileName))

In [35]:
fileLength('midterm.ipynb')

46

In [33]:
fileLength('idterm.py')

File idterm.py not found

# QUESTION3

In [8]:
class Marsupial:
    
    def __init__(self):
        self.marsupial=[]
        
    def put_in_pouch(self,item):
        return self.marsupial.append(item)
    
    def pouch_contents(self):
        print(self.marsupial)

In [9]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [44]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        super().__init__()
        self.x=x
        self.y=y
        
    def jump(self,dx=0,dy=0):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return ("I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y))

In [45]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# QUESTION 4

In [6]:
def collatz(x):
    print(int(x))
    if x%2==0 and x!=1:
        x=x/2
        collatz(x)
    else:
        if x!=1:
            x=3*x+1
            collatz(x)
        
        
collatz(1)

1

In [7]:
collatz(10)

10
5
16
8
4
2
1

# QUESTION 5

In [79]:
def binary(n):
    if n < 2:
        return n
    else:
        return (n%2+10*binary(int(n//2)))

In [80]:
binary(0)

0

In [81]:
binary(1)

1

In [82]:
binary(3)

11

In [83]:
binary(9)

1001

# QUESTION 6

In [101]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def handle_data(self, data):
        if HTMLParser.get_starttag_text(self).endswith('h1>'):
            print (data)
        if HTMLParser.get_starttag_text(self).endswith('h2>'):
            print ('\t'+data)
            
hp = HeadingParser()
hp.feed(content)

W3C Mission


	Principles

# QUESTION 8

In [64]:
import sqlite3
con=sqlite3.connect("rain.db")
cur=con.cursor()
cur.execute("CREATE TABLE WEATHER (City text,Country text, Season text, Temperature float, Rainfall float)")
obs1=("Mumbai","India","Winter",24.8,5.9)
obs2=("Mumbai","India","Spring",28.4,16.2)
obs3=("Mumbai","India","Summer",27.9,1549.4)
obs4=("Mumbai","India","Fall",27.6,346.0)
obs5=("London","United Kingdom","Winter",4.2,207.7)
obs6=("London","United Kingdom","Spring",8.3,169.6)
obs7=("London","United Kingdom","Summer",15.7,157.0)
obs8=("London","United Kingdom","Fall",10.4,218.5)
obs9=("Cairo","Egypt","Winter",13.6,16.5)
obs10=("Cairo","Egypt","Spring",20.7,6.5)
obs11=("Cairo","Egypt","Summer",27.7,0.1)
obs12=("Cairo","Egypt","Fall",22.2,4.5)

cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs1)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs2)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs3)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs4)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs5)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs6)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs7)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs8)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs9)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs10)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs11)
cur.execute("INSERT INTO WEATHER VALUES (?,?,?,?,?)",obs12)

In [85]:
#a
cur.execute('SELECT Temperature FROM WEATHER')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [66]:
#b
cur.execute('SELECT DISTINCT City FROM WEATHER')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [72]:
#c
cur.execute('SELECT * FROM WEATHER WHERE Country="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [71]:
#d
cur.execute('SELECT * FROM WEATHER WHERE Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [73]:
#e
cur.execute('SELECT City, Country, Season FROM WEATHER WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [77]:
#f
cur.execute('SELECT City, Country FROM WEATHER WHERE Season="Fall" AND Temperature >20 ORDER BY Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [78]:
#g
cur.execute('SELECT SUM(Rainfall) FROM WEATHER WHERE City="Cairo"')
cur.fetchall()

[(27.6,)]

In [84]:
#h
cur.execute('SELECT Season ,SUM(Rainfall) FROM WEATHER GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# QUESTION 9

In [84]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

#a
words_upper= [i.upper() for i in words]
print(words_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [85]:
#b

words_lower= [i.lower() for i in words]
print(words_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [86]:
#c

words_length=[len(i) for i in words]
print(words_length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [89]:
#d
words_all=[(a,b,c) for a,b,c in zip(words_upper, words_lower, words_length)]
print(words_all)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [90]:
#e

words_four=[i for i in words if len(i)>=4]
print(words_four)

['quick', 'brown', 'jumps', 'over', 'lazy']